<template name="index">
  <div class="jumbotron">
    <h1>Todoodle</h1>
    <p>This is a test SaaS application made with MeteorJS with integrated reccuring billing provided by Braintree.</p>
    <p>It's basically a refractored version of The Meteor Chef's saas-stripe app. You can fork it on <a href="https://github.com/michaltakac/meteor-saas-braintree">GitHub</a>.</p>
    <p><a class="btn btn-success btn-lg" href="{{pathFor 'signup'}}" role="button">I want to crush it</a></p>
  </div>
</template>
